.grid {
	background-color: #22262a;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 200%;
	transition: all .5s;
	position: relative;
	border-radius: 50%;
	border: 1px solid white;

	&:hover {
		background-size: 100%;
		background-color: #26282c;

		& .button-view {
			opacity: 100%;
		}
	}

	& .button-view {
		position: absolute;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #94a4b4;
		padding: 1rem 2.5rem;
		font-size: 1.1rem;
		font-weight: 700;
		border-radius: .5rem;
		border-color: #94a4b4;
		outline: none;
		cursor: pointer;
		opacity: 1;
		transition: all .5s;
		color: black;

		&:hover {
			background-color: white;
			border-color: white;
		}
	}

	& .container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		background-color: #3c4349;
		padding: 2rem;
		width: 70vw;

		& .image-container {
			& img {
				width: 50%;
			}
		}

		& .project-details {
			& svg {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 2rem;
				cursor: pointer;
			}

			& h4 {
				font-size: 2.8rem;
				margin-bottom: 1rem;
			}

			& .tags {
				margin-bottom: 1rem;

				& span {
					display: inline-block;
					border: 1px solid black;
					margin: 0.2rem .2rem;
					padding: .2rem;
				}
			}

			& span {
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}

			& p {
				font-weight: 400;
				font-size: 1rem;
				letter-spacing: .1rem;
			}

			& button {
				padding: .7rem 1.5rem;
				border-radius: .5rem;
				margin: .4rem;
				cursor: pointer;
			}
		}
	}
}

@media (min-width: 600px) {
	.grid {
		& .container {
			& .image-container {
				& img {
					width: 40%;
				}
			}

			& .project-details {
				& svg {
					font-size: 2rem;
				}

				& h4 {
					font-size: 3.2rem;
				}

				& .tags {
					margin-bottom: 1rem;

					& span {
						font-size: 1.5rem;
						margin: 0 .5rem;
						padding: .5rem;
					}
				}

				& span {
					font-size: 1.9rem;
					margin-bottom: 1rem;
				}

				& p {
					margin-top: .5rem;
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (min-width: 800px) {
	.grid {
		& .container {
			& .image-container {
				& img {
					width: 35%;
				}
			}

			& .project-details {
				& svg {
					font-size: 2.5rem;
				}

				& h4 {
					font-size: 3.7rem;
				}

				& .tags {
					margin-bottom: 1rem;

					& span {
						font-size: 1.7rem;
						margin: 0 .5rem;
						padding: .5rem;
					}
				}

				& span {
					font-size: 2.1rem;
					margin-bottom: 1rem;
				}

				& p {
					margin-top: .5rem;
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	.grid {
		& .container {
			& .image-container {
				& img {
					width: 30%;
				}
			}

			& .project-details {
				& svg {
					font-size: 2.7rem;
				}

				& h4 {
					font-size: 4.2rem;
				}

				& .tags {
					margin-bottom: 1rem;

					& span {
						font-size: 1.9rem;
						margin: 0 .5rem;
						padding: .5rem;
					}
				}

				& span {
					font-size: 2.4rem;
					margin-bottom: 1rem;
				}

				& p {
					margin-top: .5rem;
					font-size: 1.7rem;
				}
			}
		}
	}
}

@media (min-width: 1300px) {
	.grid {
		& .container {
			& .image-container {
				& img {
					width: 25%;
				}
			}

			& .project-details {
				& svg {
					font-size: 2.5rem;
				}

				& h4 {
					font-size: 4.5rem;
				}

				& .tags {
					margin-bottom: 1rem;

					& span {
						font-size: 2rem;
						margin: 0 .5rem;
						padding: .5rem;
					}
				}

				& span {
					font-size: 2.5rem;
					margin-bottom: 1rem;
				}

				& p {
					margin-top: .5rem;
					font-size: 1.8rem;
				}
			}
		}
	}
}
