.header {
	height: 8rem;
	display: flex;
	align-items: center;

	& .logo-container {
		height: 80%;
		margin-right: auto;
		& img {
			height: 90%;
			cursor: pointer;
		}
	}

	& .bars {
		font-size: 4rem;
		color: #94a4b4;
		margin-right: 2rem;
		cursor: pointer;
		z-index: 2;
	}
}

@media (min-width: 1000px) {
	.navigation {
		height: 12rem;
	}
}
